.comment {
	padding: 0 !important;
	border: 1px solid #4b555b;
	background-color: transparentize(#282C34, 0.2);

	#{&}-card {
		padding: 1em;
		cursor: pointer;
		transition: background-color ease-in-out .2s;

		&:hover {
			background-color: transparentize(#2d323b, 0.2);
		}

		p {
			word-wrap: anywhere;
			width: 70%;
		}
	}

	a {
		&:hover {
			text-decoration: none !important;
		}
	}

	#{&}-card-name {
		color: whitesmoke;

		&:hover {
			text-decoration: underline;
		}
	}

	#{&}-card-username {
		margin: 0 0.5em;
		color: #8097b0;
		font-size: 1.2em;

		&:hover {
			text-decoration: underline;
		}
	}
}
