.tweetBox {
	border: 1px solid #4b555b;
	background-color: #282C34;
	transition: background-color ease-in-out .2s;
	padding: 14px !important;

	&:hover {
		background-color: #2d323b;
	}

	form {
		width: 100%;
	}

	#{&}__input {
		padding: 20px;
		display: flex;

		input {
			padding-left: 1em;
		}
	}

	#{&}__icons {
		padding-top: 1em;
	}
}

.total-words--style{
	display: flex;
	justify-content: flex-end;
}
