.profile {
	border: 1px solid #4b555b;
	min-height: 100vh;
}

.avatarFeed--style {
    display: flex;
    justify-content:center;
}

.btn {
    margin: 1em!important;
    color: #fff !important;
    background-color: #1DA2F1!important;
    &:hover{
        color: #fff !important;
        background-color: #0078ff!important;
        text-decoration: none!important;
    }
}
