.profile {
	border: 1px solid #4b555b;
	min-height: 100vh;
}

.avatarFeed--style {
    display: flex;
    justify-content:center;
}

.link--style {
    color: #fff!important;
    text-decoration: none!important;
    &:hover{
        color: #1DA2F1 !important;
        text-decoration: underline!important;
    }
}
