.profile {
	border: 1px solid #4b555b;
    height: 100vh;
	background-color: transparentize(#282C34, 0.2);

	#{&}-avatar {
		height: 8rem !important;
		width: 8rem !important;

		img {
			border: 3px solid white;
			height: 8rem;
			width: 8rem;
		}
	}

	#{&}-data {
		ul {
			width: 100%;
		}
	}
}

.avatar-feed--style {
    display: flex;
    justify-content:center;
}

.container-feed--style{
    padding-top: 2em;
    padding-bottom: 6em;
}

.like-comment-share{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5em;
}