.tweet {
	padding: 0 !important;
	border: 1px solid #4b555b;
	background-color: #282C34;

	#{&}-card {
		padding: 1em;
		cursor: pointer;
		transition: background-color ease-in-out .2s;

		&:hover {
			background-color: #2d323b;
		}
	}

	a {
		&:hover {
			text-decoration: none !important;
		}
	}

	#{&}-card-name {
		color: whitesmoke;

		&:hover {
			text-decoration: underline;
		}
	}

	#{&}-card-username {
		margin: 0 0.5em;
		color: #8097b0;
		font-size: 1.2em;

		&:hover {
			text-decoration: underline;
		}
	}
}
