.home {
	#{&}-recommend {
		margin: 2em 0;
		padding: 0 1em;
		border: 1px solid #4b555b;
		border-radius: 16px;

		nav {
			width: 90%;
		}
	}

	form {
		width: 80%;
	}

	input {
		height: 40px;
	}
}
