@import "../../Responsive";

.avatar {
	img {
		width: 5em;
		height: 5em;
		margin-right: 0.9em;
		border-radius: 100%;
		transition: filter ease-in-out .25s;

		&:hover {
			filter: brightness(50%);
		}

		@include media(tablet_mobile, portrait) {
			width: 3.5em;
			height: 3.5em;
			margin-right: 1.4em;
		}
	}
}
