// Common
html {
	overflow-y: scroll !important;
}

// Links
a {
	text-decoration: none;
	color: white;
	cursor: pointer;

	&:hover, &:active, &:visited {
		color: #1DA2F1 !important;
		text-decoration: underline !important;
	}
}

// Buttons
.btn {
	margin-bottom: 5px!important;
	background-color: #1DA2F1!important;

	&:hover{
		color: #fff !important;
		background-color: #0078ff!important;
		text-decoration: none!important;
	}
}

// Headers
.page-header {
	margin-bottom: 1em !important;
}

// WavesEffect animation
.ocean {
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	background: #015871;
	z-index: -1;
}

.wave {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
	position: absolute;
	top: -140px;
	width: 6400px;
	height: 198px;
	animation: wave 7s cubic-bezier( 0.16, 0.25, 0.33, 0.23) infinite;
	transform: translate3d(0, 0, 0);
	z-index: -1;
}

.wave:nth-of-type(2) {
	top: -130px;
	animation: wave 7s cubic-bezier( 0.16, 0.25, 0.33, 0.23) -.125s infinite, swell 7s ease -1.25s infinite;
	opacity: 1;
}

@keyframes wave {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1600px;
	}
}

@keyframes swell {
	0%, 100% {
		transform: translate3d(0,-25px,0);
	}
	50% {
		transform: translate3d(0,5px,0);
	}
}

// utils
.wordwrap {
	word-wrap: anywhere !important;
}
